@use 'mixins';

// Variables SCSS
$background: #ffeed0;
$primary: #2c3639;
$primary-hover: #47575c;
$secondary: #ffeed0;
$text: #333333;
$red-background: #e33c3b;

:root {
  --font-noto-sans-jp: 'Noto Sans JP', sans-serif; // Ajout si nécessaire pour font-family
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $primary;
  background: $background;
  margin: 0 auto;
  font-family: var(--font-noto-sans-jp), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $primary-hover;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  border: none;
  box-shadow: 4px 3px 0px 0px #a42221;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:active {
    transform: translate(4px, 3px) !important;
    box-shadow: 0px 0px 0px 0px #a42221 !important;
  }

  &:hover {
    transform: translate(2px, 1px);
    box-shadow: 2px 1px 0px 0px #a42221;
  }
}

p {
  font-size: 1rem;
  font-weight: 300;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 900;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

main {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  height: 80px;
  z-index: 9999;

  > div:first-of-type a {
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }
  }

  > div:first-of-type a:first-of-type {
    display: block !important;
  }
}

.ellipse {
  @media (min-width: 2560px) {
    display: none;
  }
}

.profile-image {
  background-color: $primary;
}

.display-1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin-top: -35px;

  @media (max-width: 768px) {
    font-size: 3.5rem;
    margin-top: -25px;
  }
}

.display-text {
  font-size: 1.8rem;
  font-weight: 300;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.spaces-block {
  margin-top: 4rem;
}

.flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.mx-auto {
  margin-inline: auto;
}

.rounded {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.banner {
  @include mixins.center-block();
  @include mixins.flex-center(2rem, center, center, column);
  position: relative;
  text-align: center;
  padding: 2rem 4rem;
  max-width: 1200px;
  width: 90%;
  background-color: $primary;
  color: $secondary;
  border-radius: 80px;
  overflow: hidden;

  button {
    z-index: 2;
  }

  &::before {
    content: '';
    position: absolute;
    background-image: url('/seigaiha.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 60%;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

input[type='file'] {
  color: $red-background;
  background-color: #fff;
  border: 1px solid $red-background;
}

input[type='file']:focus {
  outline: 2px dashed $red-background;
  outline-offset: 2px;
}

input[type='file']::file-selector-button {
  margin-right: 8px;
  border: none;
  background: $red-background;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
}

input[type='file']::file-selector-button:hover {
  background: #a42221;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

// FORMS

label {
  font-weight: 600;
}

input:not([type='file']),
select {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: $primary;
  }
}

progress {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background: $red-background;

  &::-webkit-progress-value {
    background: $red-background;
  }
  &::-moz-progress-bar {
    background: $red-background;
  }

  &::-webkit-progress-bar {
    background-color: #a42221;
    width: 100%;
  }
}

.message-success {
  color: green;
  font-weight: 600;
}

// PAGES

.quiz-main {
  @include mixins.flex-center(0, center, center, column);
  min-height: calc(100vh - 80px);
  text-align: center;

  img {
    width: 100%;
  }
}

.kanas-main {
  img {
    max-width: 100%;
  }
}
