// Variables SCSS
$background: #FFEED0;
$primary: #2C3639;
$primary-hover: #47575C;
$secondary: #FFEED0;
$text: #333333;
$button-background: #E33C3B;

:root {
  --font-noto-sans-jp: "Noto Sans JP", sans-serif; // Ajout si nécessaire pour font-family
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $primary;
  background: $background;
  max-width: 2000px;
  margin: 0 auto;
  font-family: var(--font-noto-sans-jp), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $primary-hover;
  }
}

p {
  font-size: 1rem;
  font-weight: 300;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.display-1 {
  font-size: 6rem;
  font-weight: 900;
}

.display-text {
  font-size: 1.8rem;
  font-weight: 300;
}

.spaces-block {
  margin-top: 4rem;
}
